TESTBED_ROOT=/home/yyx/6gcore/oai-free5gc-testbed
OAI_ROOT=/home/yyx/6gcore/openairinterface5g
FREE5GC_COMPOSE_ROOT=/home/yyx/6gcore/free5gc-compose
MULTIAGENTS_DATABASE_URL=postgresql+psycopg://testbed_writer:change-me@host.docker.internal:5432/multiagents
ACTION_GATEWAY_API_KEYS=multiagents:change-me,project:change-me
